.booking {
  height: 70px;
  background-color: #003b95;
  display: flex;
  justify-content: center;
}

.booking-container {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: medium;
}

.signup-text {
  margin-top: 20px;
  margin-bottom: 32px;
  font-family: sans-serif;
  font-size: large;
  word-spacing: 0.125rem;
  text-align: center;
}

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signupForm {
  font-size: small;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.signup-Details {
  display: flex;
  flex-direction: column;
}

.name-input {
  width: 320px;
  height: 32px;
  margin-bottom: -10px;
}


.email-input {
  margin-bottom: -10px;
}

.pass-input {
  width: 320px;
  height: 32px;
}

input {
  border: 2px solid #ccc;
  padding: 5px;
  margin: 5px;
}

.login-btn {
  margin-top: -5px;
  background-color: #006ce4;
  color: white;
  font-weight: bolder;
  border: none;
}

.login-btn:hover {
  background-color: #003b95;
}

.span-text {
  text-align: center;
  margin-bottom: -15px;
}

.signup-btn {
  background-color: #006ce4;
  color: white;
  font-weight: bolder;
  border: none;
}
.signup-btn:hover {
  background-color: #003b95;
}
