.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#FFFFFF;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    color: black;
    font-weight: 100;
    font-family: serif;
  }
  
  /* Add additional styling for your modal content here */
  
  .confirmation-page {
    display: block;
    margin: 20px auto;
  }
  .payment-confirm{
    margin-bottom: 20px;
  }

  .payment-confirm > span{
    color: #1D8248;
  }

  .email > span {
    color: #003B95;
  }

  .greeting{
    margin-left: 140px;
    margin-top: 20px;
  }

  .confirmation-page{
    width: 100px;
    height: 30px;
    border: none;
    cursor: pointer;
    border: none;
    background-color: #1F7EE7;
    color: white;
    &:hover{
      background-color: #003B95;
    }
  }
  